.results {
  flex-direction: row;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
}

h3 {
  font-family: var(--workSansFont);
  font-size: 1.125rem;
  margin: 1rem 0 0.22rem 1rem;
}

h3 + p {
  font-family: var(--workSansFont);
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

h3 + p::after {
  display: block;
  content: "";
  width: 103%;
  height: 1px;
  background-color: var(--white);
  position: relative;
  top: 1rem;
}
/* TODO refractoring with above ? */
.tracklist:last-of-type > div > p::after {
  content: none;
}

.add-track {
  background: none;
}

h2 ~ .tracklist div ~ .add-track:last-child {
  display: none;
}

.tracklist {
  display: flex;
  align-items: center;
}

.tracklist div {
  width: 95%;
}
