input {
  margin-top: 7rem;
}

#tiles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

section:last-child h2 {
  margin-top: 2rem;
}

section:last-child h2::after {
  display: block;
  content: "";
  width: 30%;
  height: 1px;
  background-color: var(--white);
  opacity: 0.6;
  position: absolute;
  margin-top: 1rem;
}

.secondary-button {
  width: 9rem;
  margin-bottom: 3rem;
}

.primary-button {
  width: 11rem;
}
