input {
  margin-top: 7rem;
}

#tiles {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#tiles section:last-child {
  display: flex;
  flex-direction: column;
}

.playlistName {
  display: block;
  font-family: var(--poppinsFont);
  font-size: 1.8rem;
  color: var(--white);
  text-align: left;
  width: 90%;
  padding: 0;
  padding-bottom: 1rem;
  margin: 3rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--whiteLessOpaque);
  background: none;
}

.playlistName:focus-visible {
  outline: none;
}

.secondary-button {
  width: 9rem;
  margin-bottom: 3rem;
}

.primary-button {
  width: 11rem;
  margin: 2rem;
  align-self: center;
}
