:root {
  --black: hsl(0,0%,0%);
  --blackBlue: hsl(229, 97%, 13%);
  --blackBlueOpaque: hsla(229, 97%, 13%, 0.7);
  --purple: hsl(255, 82%, 59%);
  --purpleLight: hsl(255, 79.2%, 58.4%);
  --white: hsl(0, 0%, 100%);
  --poppinsFont: "Poppins", sans-serif;
  --workSansFont: "Work Sans", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppinsFont);
  background-image: url("./static/background_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  background-color: var(--blackBlue);
  color: var(--white);
  padding: 1rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
}

span {
  color: var(--purple);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;

}

input {
  font-size: 1rem;
  text-align: center;
  width: 17rem;
  padding: 1rem;
  border-radius: 0.1875rem;
  border: none;
  margin: 2rem;
}
